.headerImg {
  border-radius: inherit;
  position: relative;
}

.pill {
  position: absolute;
  width: 22px;
  top: 1rem;
  right: 1rem;
  background-color: white;
  color: rgb(0, 0, 0);
}

.profileImg {
  position: absolute;
  top: 4rem;
  left: 1rem;
  border: 3px solid white;
  padding: 0;
  border-radius: 50%;
  float: left;
}

.cardBody {
  padding-top: 3rem;
}

.btn {
  max-height: 20px;
  font-size: 11px;
  background-color: white;
  border: 1px solid #0077b7;
  color: #0077b7;
  padding: 0;
  margin-right: 0.8rem;
  margin-bottom: 0.3rem;
}

.btn:hover {
  background-color: #0077b7;
  color: white;
}

a {
  color: #0077b7;
}
