.headerImg{
    border-radius: inherit;
    position: relative
}
.pill{
    position: absolute;
    width: 23px;
    top: 10px;
    right: 10px;
    background-color: white;
    color: blue;
    text-align: center;
}

.profileImg{
    position:absolute;
    top: 60px;
    left: 10px;
    border: 3px solid white;
    padding: 0;
    border-radius: 50%;
    float: left;
}

.cardBody{
    padding-top: 3rem;
}

.btn {
    max-height: 20px;
    font-size: 11px;
    background-color: white;
    padding: 0;
    margin-right: 10px;

}